head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(name='freelancehunt', content='30f130433c6fd8c')
  title portfolio 
  link(rel='stylesheet', href='style.css')
body 
    .navbar 
        .navbar__info 
            .navbar__name    
                h1 Portfolio
            .navbar__burger 
                a(href="")  About me 
                a(href="") What I Do 
                a(href="") Works 
                a(href="") Pricing


    .header 
      .header__info 
          .header__text 
              p Hello, I’m 
                  span Dan
                  |. 
                  br 
                  |And I work as freelance 
                  span frontend developer
          .header__image
              img(src="./img/me.png", alt="")



    .about 
        .about__info 
            .about__header 
                h2 ABOUT 
                    span ME
            .about__text 
                p Since beginning my journey 
                    span as a freelance designer nearly 10 years ago
                    | , I've done remote work for agencies, consulted for startups, and collaborated with 
                    | talented people to create digital products for both business and consumer use. I'm quietly confident, naturally curious, and perpetually working on
                    | improving my chops one design problem at a time.



    .me 
        .me__info 
            .me__header 
                h2 WHAT I 
                    span DO 
            .me__blocks 
                .me__block 
                    img(src="./img/Development.png", alt="")
                    p Development
                    span Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla justo justo, blandit in fringilla nec, aliquam ut eros. Pellentesque bibendum ut 
                        | in dignissim. Mauris eget lobortis lectus, vel porttitor.
                .me__block 
                    img(src="./img/Design.png", alt="")
                    p Design
                    span Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla justo justo, blandit in fringilla nec, aliquam ut eros. Pellentesque bibendum ut 
                        | in dignissim. Mauris eget lobortis lectus, vel porttitor.
                .me__block 
                    img(src="./img/Storybook.png", alt="")
                    p Storybook
                    span Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla justo justo, blandit in fringilla nec, aliquam ut eros. Pellentesque bibendum ut 
                        | in dignissim. Mauris eget lobortis lectus, vel porttitor.




    .use 
        .use__info 
            .use__header 
                h2 WHAT I 
                    span USE
            .use__blocks 
                .use__block.orange
                    p General
                    span Brain, laptop and a littlbe bit intuition
                .use__block
                    p UI
                    span Figma, Sketch, Axure, Photoshop
                .use__block
                    p UX
                    span inVision, FigJam, draw.io
                .use__block.orange
                    p Frontend
                    span HTML5, CSS3, Sass, Bootstrap, React
                .use__block
                    p Cloud API
                    span Cloudinary, Firebase, Vercel, Github




    .works 
        .works__info 
            .works__header 
                h2 WORKS
            .works__blocks 
                .works__block 
                    img(src="img/web1.png", alt="")
                    h3 CMS Searcher
                    p This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                    span Last updated 3 mins ago
                .works__block 
                    img(src="img/web2.png", alt="")
                    h3 Online market
                    p This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                    span Last updated 3 mins ago
                .works__block 
                    img(src="img/web3.png", alt="")
                    h3 Healthy food market
                    p This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                    span Last updated 3 mins ago
                .works__block 
                    img(src="img/web4.png", alt="")
                    h3 Open-source App
                    p This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                    span Last updated 3 mins ago
                .works__block 
                    img(src="img/web5.png", alt="")
                    h3 Business folio
                    p This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                    span Last updated 3 mins ago
                .works__block 
                    img(src="img/web6.png", alt="")
                    h3 Website builder
                    p This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                    span Last updated 3 mins ago

    .costs 
      .container
        .costs__info 
            .costs__header 
                h2 HOW MUCH 
                    span COSTS
            .costs__blocks 
                .costs-item
                  .costs-item__header
                    .costs-item__title
                      h2 Multipage
                    .costs-item__price
                      h3 150€
                  .costs-item__content 
                    .costs-item__desc
                      span 5
                      p Pages
                    .costs-item__desc
                      span 3
                      p Sections
                  .costs-item__button
                    button ORDER NOW

                .costs-item.special
                  .costs-item__header
                    .costs-item__title
                      h2 Landing
                    .costs-item__price
                      h3 50€
                  .costs-item__content 
                    .costs-item__desc
                      span 5
                      p Pages
                    .costs-item__desc
                      span 3
                      p Sections
                  .costs-item__button
                    button ORDER NOW

                .costs-item
                  .costs-item__header
                    .costs-item__title
                      h2 Design + Site
                    .costs-item__price
                      h3 350€
                  .costs-item__content 
                    .costs-item__desc
                      span 5
                      p Pages
                    .costs-item__desc
                      span 3
                      p Sections
                  .costs-item__button
                    button ORDER NOW
            
    .footer
      .container
        .footer__sign
          h3 Created with 🤍 
          h4 by <span>Dan Abramov</span>
        .footer__copyright
          p <span>yoursite.com</span> © All rights reserved
            


